.whowehelp {
    &__container {
        padding: 30px;
        display: flex;
        flex-direction: column;
    }

    .section__header {
        padding-top: 30px;
    }

    &__buttons {
        height: 120px;
        padding-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            width: 230px;
            font-size: 24px;
            font-weight: 400;
            border: none;
            outline: none;
            padding: 10px 30px;
            margin: 0 20px;
            background: white;
        }

        .active {
            border: 1px solid $color-shade-first;
        }
    }

    &__description {
        width: 650px;
        margin-top: 50px;
        text-align: center;
        font-size: 22px;
        margin: 0 auto;
        margin-top: 40px;
    }

    &__organizations {
        margin-top: 35px;

        hr:nth-of-type(3) {
            display: none;
        }

        .organizations__content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-family: $font-alt;
            margin: 30px 0;
        }

        .organizations__name {
            font-weight: 300;
            h3 {
                font-size: 26px;
            }

            p {
                font-size: 18px;

            }
        }

        .organizations__resources {
            align-self: center;
            p {
                font-size: 18px;
            }
        }
    }

    &__btnpages {
        margin-top: 40px;

        .pagination {
            height: 61px;
            display: flex;
            flex-direction: row;
            justify-content: center;

            .page-item {
                margin: 10px;

                button {
                    border: none;
                    background-color: transparent;
                    font-size: 18px;
                    color: $color-darkgrey;
                    padding: 10px 10px;
                }

                .active {
                    border: 1px solid $color-shade-first;
                }
            }
        }
    }

}