.whowehelp {
    &__container {
        padding: 30px;
        display: flex;
        flex-direction: column;
    }

    .section__header {
        padding-top: 30px;
    }

    &__buttons {
        padding-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        .btn {
            width: 230px;
            font-size: 24px;
            font-weight: 400;
            border: none;
            outline: none;
            padding: 10px 30px;
            margin: 0 20px;
            background: white;

            &:hover {
                border: 1px solid $color-darkgrey;
            }

            &:focus {
                border: 1px solid $color-darkgrey;
            }
        }
    }

    &__description {
        width: 650px;
        margin-top: 50px;
        text-align: center;
        font-size: 22px;
        margin: 0 auto;
        margin-top: 40px;
    }

    &__organizations {
        margin-top: 30px;

        .organizations__content {
            display: flex;
            flex-direction: row;
        }
    }

    &__btnpages {
        margin-top: 30px;
        display: flex;
        justify-content: center;

        .pagenumbers {
            list-style: none;
            display: flex;
        }

        .btn__page {
            width: 40px;
            font-size: 18px;
            padding: 10px 5px;
            margin: 0px 6px;
            border: none;
            background: white;

            &:hover {
                border: 1px solid $color-darkgrey;
            }

            &:focus {
                border: 1px solid $color-darkgrey;
            }
        }
    }

}