.footer {
    width: 60%;
    margin: 16rem 0 1.25rem 50%;
    display: flex;
    justify-content: space-around;

    &__info {
        p {
            font-size: 1.125rem;
        }
    }

    &__socialmedia {
        img {
            width: 30px;
            height: 30px;

            &:first-of-type {
                margin-right: 1rem;
            }
        }
    }
}