.login {
    .header__content--login {
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    .header__nav--second {
        margin-bottom: 90px;
    }

    .login__menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .menu__form {
            margin-top: 30px;
            width: 35%;

            .form__inputs {
                padding: 40px 40px;
                background-color: $color-lightgrey;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .form__input {
                    color: $color-darkgrey;

                    &:first-child {
                        margin-bottom: 31px;
                    }

                    label {
                        font-size: 1rem;
                        font-weight: 600;
                    }

                    .login__input {
                        border: none;
                        border-bottom: 1px solid $color-shade-first;
                        background-color: transparent;
                        padding: 6px 0;
                        height: 40px;
                    }

                    .error-message {
                        color: red;
                        font-weight: 600;
                        font-size: 0.8rem;
                    }
                }
            }

            .header__buttons {
                margin-top: 50px;

                .link__element {
                    width: 140px;
                    font-size: 18px;
                    font-weight: 300;
                    border: none;
                    color: #000000;
                    padding: 13px 16px;

                    &:nth-child(1) {
                        margin-right: 100px;
                    }
                }

                button {
                    width: 140px;
                    font-size: 18px;
                    font-weight: 300;
                    border: none;
                    color: #000000;
                    padding: 13px 16px;
                    border: 0.75px solid $color-darkgrey;
                    margin-left: 100px;
                    background-color: transparent;
                    color: $color-darkgrey;
                    outline: none;
                }
            }
        }
    }
}